#
# Copyright (c) 2023, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

apiVersion: database.oracle.com/v1alpha1
kind: SingleInstanceDatabase
metadata:
  name: sidb-sample-clone
  namespace: default
spec:
  
  ## Use only alphanumeric characters for sid
  sid: ORCL2
  
  ## A source database ref to clone from.
  ## Make sure the source database has been created by applying singeinstancedatabase_create.yaml
  primaryDatabaseRef: sidb-sample

  ## Intended type of database.
  createAs: clone

  ## Should refer to SourceDB secret
  ## Secret containing SIDB password mapped to secretKey 
  adminPassword:
    secretName: db-admin-secret

  ## Database image details
  ## This image should be the same as the source DB image being cloned
  ## or a patched DB image built from the souce DB image following instructions at
  ## https://github.com/oracle/docker-images/tree/main/OracleDatabase/SingleInstance/extensions/patching
  image:
    pullFrom: container-registry.oracle.com/database/enterprise:latest
    pullSecrets: oracle-container-registry-secret

  ## size is the required minimum size of the persistent volume
  ## storageClass is specified for automatic volume provisioning
  ## accessMode can only accept one of ReadWriteOnce, ReadWriteMany
  persistence:
    size: 100Gi
    ## oci-bv applies to OCI block volumes. Use "standard" storageClass for dynamic provisioning in Minikube. Update as appropriate for other cloud service providers
    storageClass: "oci-bv"
    accessMode: "ReadWriteOnce"

  ## Count of Database Pods.
  replicas: 1
