#
# Copyright (c) 2021, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

# permissions for end users to view provshards.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: provshard-viewer-role
rules:
- apiGroups:
  - sharding.oracle.com
  resources:
  - provshards
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - sharding.oracle.com
  resources:
  - provshards/status
  verbs:
  - get
