
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - deployments
  - events
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - pods
  - pods/exec
  - pods/log
  - replicasets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  - nodes
  - persistentvolumeclaims
  - persistentvolumes
  - pods
  - pods/exec
  - pods/log
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  - nodes
  - persistentvolumeclaims
  - pods
  - pods/exec
  - pods/log
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ''''''
  resources:
  - statefulsets/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - configmaps
  - deployments
  - pods
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - namespaces
  - nodes
  - persistentvolumeclaims
  - pods
  - pods/exec
  - pods/log
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
- apiGroups:
  - database.oracle.com
  resources:
  - autonomouscontainerdatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - autonomouscontainerdatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - autonomousdatabasebackups
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - autonomousdatabasebackups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - autonomousdatabaserestores
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - autonomousdatabaserestores/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - autonomousdatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - autonomousdatabases/status
  verbs:
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - cdbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - cdbs/finalizers
  verbs:
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - cdbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - dataguardbrokers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - dataguardbrokers/finalizers
  verbs:
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - dataguardbrokers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - dbcssystems
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - dbcssystems/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - dbcssystems/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - oraclerestdataservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - oraclerestdataservices/finalizers
  verbs:
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - oraclerestdataservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - pdbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - pdbs/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - pdbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - shardingdatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - shardingdatabases/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - shardingdatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - singleinstancedatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - singleinstancedatabases/finalizers
  verbs:
  - update
- apiGroups:
  - database.oracle.com
  resources:
  - singleinstancedatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - observability.oracle.com
  resources:
  - databaseobservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - observability.oracle.com
  resources:
  - databaseobservers/finalizers
  verbs:
  - update
- apiGroups:
  - observability.oracle.com
  resources:
  - databaseobservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
