#
# Copyright (c) 2021, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

# permissions for end users to view singleinstancedatabases.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: singleinstancedatabase-viewer-role
rules:
- apiGroups:
  - database.oracle.com
  resources:
  - singleinstancedatabases
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - database.oracle.com
  resources:
  - singleinstancedatabases/status
  verbs:
  - get
