#
# Copyright (c) 2022, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

## Append samples you want in your CSV to this file as resources ##
resources:
- acd/autonomouscontainerdatabase_create.yaml
- adb/autonomousdatabase_backup.yaml
- adb/autonomousdatabase_create.yaml
- dbcs/database_v1alpha1_dbcssystem.yaml
- multitenant/cdb.yaml
- multitenant/pdb_create.yaml
- observability/databaseobserver.yaml
- sharding/sharding_v1alpha1_provshard.yaml
- sidb/singleinstancedatabase_create.yaml
- omlai_v4_privateai.yaml
- database_v4_oraclerestart.yaml
- privateai_v4_privateai.yaml
# +kubebuilder:scaffold:manifestskustomizesamples
- multitenant/pdb_plug.yaml
- multitenant/cdb_secret.yaml
- multitenant/pdb_secret.yaml
- multitenant/pdb_clone.yaml
- multitenant/cdb.yaml
- sidb/singleinstancedatabase_patch.yaml
- sidb/oraclerestdataservice_apex.yaml
- sidb/singleinstancedatabase_express.yaml
- sidb/singleinstancedatabase_secrets.yaml
- sidb/singleinstancedatabase_clone.yaml
- sidb/singleinstancedatabase_prebuiltdb.yaml
- sidb/dataguardbroker.yaml
- sidb/oraclerestdataservice_secrets.yaml
- sidb/singleinstancedatabase_free.yaml
- sidb/singleinstancedatabase_standby.yaml
- sidb/openshift_rbac.yaml
- sharding/sharding_v1alpha1_provshard_clonespec1.yaml
- sharding/shardingdatabase.yaml
- sharding/sharding_v1alpha1_provshard_clonespec.yaml
- observability/databaseobserver_vault.yaml
- observability/databaseobserver_minimal.yaml
- adb/autonomousdatabase_bind.yaml
- adb/autonomousdatabase_backup.yaml
- adb/autonomousdatabase_restore.yaml
- acd/autonomouscontainerdatabase_create.yaml
- sidb/singleinstancedatabase.yaml
- sharding/shardingdatabase.yaml
- sharding/sharding_v1alpha1_provshard.yaml
- dbcs/database_v1alpha1_dbcssystem.yaml
- database_v1alpha1_dataguardbroker.yaml
- database_v1alpha1_shardingdatabase.yaml
- observability/v1alpha1/databaseobserver.yaml
- observability/v1/databaseobserver.yaml
- observability/v4/databaseobserver.yaml
- acd/autonomouscontainerdatabase_restart_terminate.yaml
- database_v4_shardingdatabase.yaml
- database_v4_dbcssystem.yaml
- database_v4_lrest.yaml
- database_v4_lrpdb.yaml
- database_v4_ordssrvs.yaml
- database_v4_singleinstancedatabase.yaml
- database_v4_dataguardbroker.yaml
- database_v4_oraclerestdataservice.yaml
- database_v4_racdatabase.yaml
  # +kubebuilder:scaffold:manifestskustomizesamples
