#
# Copyright (c) 2022, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

## Append samples you want in your CSV to this file as resources ##
resources:
- acd/autonomouscontainerdatabase_create.yaml
- adb/autonomousdatabase_backup.yaml
- adb/autonomousdatabase_create.yaml
- dbcs/database_v1alpha1_dbcssystem.yaml
- multitenant/cdb.yaml
- multitenant/pdb_create.yaml
- observability/databaseobserver.yaml
- sharding/sharding_v1alpha1_provshard.yaml
- sidb/singleinstancedatabase_create.yaml
- omlai_v4_privateai.yaml
- database_v4_oraclerestart.yaml
- privateai_v4_privateai.yaml
# +kubebuilder:scaffold:manifestskustomizesamples
