#
# Copyright (c) 2021, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

## Append samples you want in your CSV to this file as resources ##
resources:
  - sharding_v1alpha1_provshard.yaml
  - autonomousdatabase.yaml
  - singleinstancedatabase.yaml
  - shardingdatabase.yaml
  # +kubebuilder:scaffold:manifestskustomizesamples
