db.hostname=###ORACLE_HOST###
db.port=###ORACLE_PORT###
db.servicename=###ORACLE_SERVICE###
database.api.admin.enabled=true
database.api.enabled=true
feature.sdw=true
plsql.gateway.add=false
restEnabledSql.active=true
rest.services.apex.add=false
rest.services.ords.add=true
standalone.http.port=8888
standalone.mode=false
standalone.use.https=true
sys.user=SYS
sys.password=###ORACLE_PWD###
user.public.password=###ORDS_PWD###