#
# Copyright (c) 2022, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/database.oracle.com_autonomousdatabases.yaml
- bases/database.oracle.com_autonomousdatabasebackups.yaml
- bases/database.oracle.com_autonomousdatabaserestores.yaml
- bases/database.oracle.com_singleinstancedatabases.yaml
- bases/database.oracle.com_shardingdatabases.yaml
- bases/database.oracle.com_pdbs.yaml
- bases/database.oracle.com_cdbs.yaml
- bases/database.oracle.com_oraclerestdataservices.yaml
- bases/database.oracle.com_autonomouscontainerdatabases.yaml
- bases/database.oracle.com_dbcssystems.yaml
- bases/database.oracle.com_dataguardbrokers.yaml
- bases/observability.oracle.com_databaseobservers.yaml
- bases/database.oracle.com_lrests.yaml
- bases/database.oracle.com_lrpdbs.yaml
- bases/database.oracle.com_ordssrvs.yaml
- bases/omlai.oracle.com_privateais.yaml
- bases/database.oracle.com_oraclerestarts.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patches:

# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_provshards.yaml
#- patches/webhook_in_singleinstancedatabases.yaml
#- patches/webhook_in_shardingdatabases.yaml
#- patches/webhook_in_pdbs.yaml
#- patches/webhook_in_cdbs.yaml
#- patches/webhook_in_oraclerestdataservices.yaml
#- patches/webhook_in_dbcssystems.yaml
#- patches/webhook_in_dataguardbrokers.yaml
#- patches/webhook_in_databaseobservers.yaml
- path: patches/webhook_in_autonomousdatabases.yaml
- path: patches/webhook_in_autonomousdatabasebackups.yaml
- path: patches/webhook_in_autonomousdatabaserestores.yaml
- path: patches/webhook_in_autonomouscontainerdatabases.yaml
#- patches/webhook_in_lrests.yaml
#- patches/webhook_in_lrpdbs.yaml
#- patches/webhook_in_ordssrvs.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_provshards.yaml
#- patches/cainjection_in_oraclerestdataservices.yaml
#- patches/cainjection_in_dataguardbrokers.yaml
#- patches/cainjection_in_databaseobservers.yaml
#- patches/cainjection_in_lrests.yaml
#- patches/cainjection_in_lrpdbs.yaml
#- patches/cainjection_in_ordssrvs.yaml
- path: patches/cainjection_in_singleinstancedatabases.yaml
- path: patches/cainjection_in_shardingdatabases.yaml
- path: patches/cainjection_in_pdbs.yaml
- path: patches/cainjection_in_cdbs.yaml
- path: patches/cainjection_in_dbcssystems.yaml
- path: patches/cainjection_in_autonomousdatabases.yaml
- path: patches/cainjection_in_autonomousdatabasebackups.yaml
- path: patches/cainjection_in_autonomousdatabaserestores.yaml
- path: patches/cainjection_in_autonomouscontainerdatabases.yaml

# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
