---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: autonomousdatabaserestores.database.oracle.com
spec:
  group: database.oracle.com
  names:
    kind: AutonomousDatabaseRestore
    listKind: AutonomousDatabaseRestoreList
    plural: autonomousdatabaserestores
    shortNames:
    - adbr
    - adbrs
    singular: autonomousdatabaserestore
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.displayName
      name: DbDisplayName
      type: string
    - jsonPath: .status.dbName
      name: DbName
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              ociConfig:
                properties:
                  configMapName:
                    type: string
                  secretName:
                    type: string
                type: object
              source:
                properties:
                  k8sADBBackup:
                    properties:
                      name:
                        type: string
                    type: object
                  pointInTime:
                    properties:
                      timestamp:
                        type: string
                    type: object
                type: object
              target:
                properties:
                  k8sADB:
                    properties:
                      name:
                        type: string
                    type: object
                  ociADB:
                    properties:
                      ocid:
                        type: string
                    type: object
                type: object
            required:
            - source
            - target
            type: object
          status:
            properties:
              dbName:
                type: string
              displayName:
                type: string
              status:
                type: string
              timeAccepted:
                type: string
              timeEnded:
                type: string
              timeStarted:
                type: string
              workRequestOCID:
                type: string
            required:
            - dbName
            - displayName
            - status
            - workRequestOCID
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
