
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: dbcssystems.database.oracle.com
spec:
  group: database.oracle.com
  names:
    kind: DbcsSystem
    listKind: DbcsSystemList
    plural: dbcssystems
    singular: dbcssystem
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DbcsSystem is the Schema for the dbcssystems API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DbcsSystemSpec defines the desired state of DbcsSystem
            properties:
              dbSystem:
                properties:
                  availabilityDomain:
                    type: string
                  backupSubnetId:
                    type: string
                  clusterName:
                    type: string
                  compartmentId:
                    type: string
                  cpuCoreCount:
                    type: integer
                  dbAdminPaswordSecret:
                    type: string
                  dbBackupConfig:
                    description: DB Backup Config Network Struct
                    properties:
                      autoBackupEnabled:
                        type: boolean
                      autoBackupWindow:
                        type: string
                      backupDestinationDetails:
                        type: string
                      recoveryWindowsInDays:
                        type: integer
                    type: object
                  dbDomain:
                    type: string
                  dbEdition:
                    type: string
                  dbName:
                    type: string
                  dbUniqueName:
                    type: string
                  dbVersion:
                    type: string
                  dbWorkload:
                    type: string
                  diskRedundancy:
                    type: string
                  displayName:
                    type: string
                  domain:
                    type: string
                  faultDomains:
                    items:
                      type: string
                    type: array
                  hostName:
                    type: string
                  initialDataStorageSizeInGB:
                    type: integer
                  kmsKeyId:
                    type: string
                  kmsKeyVersionId:
                    type: string
                  licenseModel:
                    type: string
                  nodeCount:
                    type: integer
                  pdbName:
                    type: string
                  privateIp:
                    type: string
                  shape:
                    type: string
                  sshPublicKeys:
                    items:
                      type: string
                    type: array
                  storageManagement:
                    type: string
                  subnetId:
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    type: object
                  tdeWalletPasswordSecret:
                    type: string
                  timeZone:
                    type: string
                required:
                - availabilityDomain
                - compartmentId
                - dbAdminPaswordSecret
                - hostName
                - shape
                - sshPublicKeys
                - subnetId
                type: object
              hardLink:
                type: boolean
              id:
                type: string
              ociConfigMap:
                type: string
              ociSecret:
                type: string
              pdbConfigs:
                items:
                  description: PDBConfig defines details of PDB struct for DBCS systems
                  properties:
                    freeformTags:
                      additionalProperties:
                        type: string
                      description: '// Free-form tags for this resource. Each tag
                        is a simple key-value pair with no predefined name, type,
                        or namespace. // For more information, see Resource Tags (https://docs.cloud.oracle.com/Content/General/Concepts/resourcetags.htm).
                        // Example: `{"Department": "Finance"}`'
                      type: object
                    isDelete:
                      description: To specify whether to delete the PDB
                      type: boolean
                    pdbAdminPassword:
                      description: // A strong password for PDB Admin. The password
                        must be at least nine characters and contain at least two
                        uppercase, two lowercase, two numbers, and two special characters.
                        The special characters must be _, \#, or -.
                      type: string
                    pdbName:
                      description: The name for the pluggable database (PDB). The
                        name is unique in the context of a Database. The name must
                        begin with an alphabetic character and can contain a maximum
                        of thirty alphanumeric characters. Special characters are
                        not permitted. The pluggable database name should not be same
                        as the container database name.
                      type: string
                    pluggableDatabaseId:
                      description: The OCID of the PDB for deletion purposes.
                      type: string
                    shouldPdbAdminAccountBeLocked:
                      description: // The locked mode of the pluggable database admin
                        account. If false, the user needs to provide the PDB Admin
                        Password to connect to it. // If true, the pluggable database
                        will be locked and user cannot login to it.
                      type: boolean
                    tdeWalletPassword:
                      description: // The existing TDE wallet password of the CDB.
                      type: string
                  required:
                  - pdbName
                  type: object
                type: array
            required:
            - ociConfigMap
            type: object
          status:
            description: DbcsSystemStatus defines the observed state of DbcsSystem
            properties:
              availabilityDomain:
                type: string
              cpuCoreCount:
                type: integer
              dataStoragePercentage:
                type: integer
              dataStorageSizeInGBs:
                type: integer
              dbEdition:
                type: string
              dbInfo:
                items:
                  description: DbcsSystemStatus defines the observed state of DbcsSystem
                  properties:
                    dbHomeId:
                      type: string
                    dbName:
                      type: string
                    dbUniqueName:
                      type: string
                    dbWorkload:
                      type: string
                    id:
                      type: string
                  type: object
                type: array
              displayName:
                type: string
              id:
                type: string
              licenseModel:
                type: string
              network:
                properties:
                  clientSubnet:
                    type: string
                  domainName:
                    type: string
                  hostName:
                    type: string
                  listenerPort:
                    type: integer
                  networkSG:
                    type: string
                  scanDnsName:
                    type: string
                  vcnName:
                    type: string
                type: object
              nodeCount:
                type: integer
              recoStorageSizeInGB:
                type: integer
              shape:
                type: string
              state:
                type: string
              storageManagement:
                type: string
              subnetId:
                type: string
              timeZone:
                type: string
              workRequests:
                items:
                  properties:
                    operationId:
                      type: string
                    operationType:
                      type: string
                    percentComplete:
                      type: string
                    timeAccepted:
                      type: string
                    timeFinished:
                      type: string
                    timeStarted:
                      type: string
                  required:
                  - operationId
                  - operationType
                  type: object
                type: array
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []