
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: autonomousdatabases.database.oracle.com
spec:
  group: database.oracle.com
  names:
    kind: AutonomousDatabase
    listKind: AutonomousDatabaseList
    plural: autonomousdatabases
    shortNames:
    - adb
    - adbs
    singular: autonomousdatabase
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.details.displayName
      name: Display Name
      type: string
    - jsonPath: .spec.details.dbName
      name: Db Name
      type: string
    - jsonPath: .status.lifecycleState
      name: State
      type: string
    - jsonPath: .spec.details.isDedicated
      name: Dedicated
      type: string
    - jsonPath: .spec.details.cpuCoreCount
      name: OCPUs
      type: integer
    - jsonPath: .spec.details.dataStorageSizeInTBs
      name: Storage (TB)
      type: integer
    - jsonPath: .spec.details.dbWorkload
      name: Workload Type
      type: string
    - jsonPath: .status.timeCreated
      name: Created
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AutonomousDatabase is the Schema for the autonomousdatabases
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: 'AutonomousDatabaseSpec defines the desired state of AutonomousDatabase
              Important: Run "make" to regenerate code after modifying this file'
            properties:
              details:
                description: AutonomousDatabaseDetails defines the detail information
                  of AutonomousDatabase, corresponding to oci-go-sdk/database/AutonomousDatabase
                properties:
                  adminPassword:
                    properties:
                      k8sSecret:
                        description: "*********************** *\tSecret specs ***********************"
                        properties:
                          name:
                            type: string
                        type: object
                      ociSecret:
                        properties:
                          ocid:
                            type: string
                        type: object
                    type: object
                  autonomousContainerDatabase:
                    description: ACDSpec defines the spec of the target for backup/restore
                      runs. The name could be the name of an AutonomousDatabase or
                      an AutonomousDatabaseBackup
                    properties:
                      k8sACD:
                        description: "*********************** *\tACD specs ***********************"
                        properties:
                          name:
                            type: string
                        type: object
                      ociACD:
                        properties:
                          ocid:
                            type: string
                        type: object
                    type: object
                  autonomousDatabaseOCID:
                    type: string
                  compartmentOCID:
                    type: string
                  cpuCoreCount:
                    type: integer
                  dataStorageSizeInTBs:
                    type: integer
                  dbName:
                    type: string
                  dbVersion:
                    type: string
                  dbWorkload:
                    description: 'AutonomousDatabaseDbWorkloadEnum Enum with underlying
                      type: string'
                    enum:
                    - OLTP
                    - DW
                    - AJD
                    - APEX
                    type: string
                  displayName:
                    type: string
                  freeformTags:
                    additionalProperties:
                      type: string
                    type: object
                  isAutoScalingEnabled:
                    type: boolean
                  isDedicated:
                    type: boolean
                  licenseModel:
                    description: 'AutonomousDatabaseLicenseModelEnum Enum with underlying
                      type: string'
                    enum:
                    - LICENSE_INCLUDED
                    - BRING_YOUR_OWN_LICENSE
                    type: string
                  lifecycleState:
                    description: 'AutonomousDatabaseLifecycleStateEnum Enum with underlying
                      type: string'
                    type: string
                  networkAccess:
                    properties:
                      accessControlList:
                        items:
                          type: string
                        type: array
                      accessType:
                        enum:
                        - ""
                        - PUBLIC
                        - RESTRICTED
                        - PRIVATE
                        type: string
                      isAccessControlEnabled:
                        type: boolean
                      isMTLSConnectionRequired:
                        type: boolean
                      privateEndpoint:
                        properties:
                          hostnamePrefix:
                            type: string
                          nsgOCIDs:
                            items:
                              type: string
                            type: array
                          subnetOCID:
                            type: string
                        type: object
                    type: object
                  wallet:
                    properties:
                      name:
                        type: string
                      password:
                        properties:
                          k8sSecret:
                            description: "*********************** *\tSecret specs
                              ***********************"
                            properties:
                              name:
                                type: string
                            type: object
                          ociSecret:
                            properties:
                              ocid:
                                type: string
                            type: object
                        type: object
                    type: object
                type: object
              hardLink:
                default: false
                type: boolean
              ociConfig:
                description: "*********************** *\tOCI config ***********************"
                properties:
                  configMapName:
                    type: string
                  secretName:
                    type: string
                type: object
            required:
            - details
            type: object
          status:
            description: AutonomousDatabaseStatus defines the observed state of AutonomousDatabase
            properties:
              allConnectionStrings:
                items:
                  properties:
                    connectionStrings:
                      items:
                        properties:
                          connectionString:
                            type: string
                          tnsName:
                            type: string
                        type: object
                      type: array
                    tlsAuthentication:
                      type: string
                  required:
                  - connectionStrings
                  type: object
                type: array
              lifecycleState:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                type: string
              timeCreated:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
