#
# Copyright (c) 2022, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
apiVersion: database.oracle.com/v4
kind: AutonomousDatabase
metadata:
  name: autonomousdatabase-sample
spec:
  action: Update
  details:
    id: ocid1.autonomousdatabase...
    # Your database's compute count
    computeCount: 2
    # Your database's storage size in TB
    dataStorageSizeInTBs: 2
    # Enable/Disable auto scaling for your database
    isAutoScalingEnabled: true
  # Authorize the operator with API signing key pair. Comment out the ociConfig fields if your nodes are already authorized with instance principal.
  ociConfig:
    configMapName: oci-cred
    secretName: oci-privatekey