#
# Copyright (c) 2022, Oracle and/or its affiliates. 
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
apiVersion: database.oracle.com/v1alpha1
kind: AutonomousDatabase
metadata:
  name: autonomousdatabase-sample
spec:
  action: Update
  details:
    id: ocid1.autonomousdatabase...
    networkAccess:
      # Allow secure access from everywhere.
      accessType: PUBLIC

      # # Uncomment this block to configure the network access type with the RESTRICTED option.
      # # This option lets you restrict access by defining access control rules in an Access Control List (ACL).
      # # By specifying an ACL, the database will be accessible from a whitelisted set of IP addresses, CIDR (Classless Inter-Domain Routing) blocks, or VCNs. 
      # # Use a semicolon (;) as a deliminator between the VCN-specific subnets or IPs.
      # accessType: RESTRICTED
      # accessControlList:
      # - 1.1.1.1
      # - 1.1.0.0/16
      # - ocid1.vcn...
      # - ocid1.vcn...;1.1.1.1
      # - ocid1.vcn...;1.1.0.0/16

      # # Uncomment this block to configure the network access type with the PRIVATE option.
      # # This option assigns a private endpoint, private IP, and hostname to your database. 
      # # Specifying this option allows traffic only from the VCN you specify.
      # # This allows you to define security rules, ingress/egress, at the Network Security Group (NSG) level and to control traffic to your Autonomous Database.
      # accessType: PRIVATE
      # privateEndpoint:
      #   subnetOCID: ocid1.subnet...
      #   nsgOCIDs: # Optional
      #   - ocid1.networksecuritygroup...

      # # Uncomment this block to configure the network access of an dedicated Autonomous Database (ADB-D) with an access control list.
      # isAccessControlEnabled: true
      # accessControlList:
      # - 1.1.1.1
      # - 1.1.0.0/16

  # Authorize the operator with API signing key pair. Comment out the ociConfig fields if your nodes are already authorized with instance principal.
  ociConfig:
    configMapName: oci-cred
    secretName: oci-privatekey